/**
 * Template Front Page Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

.webp {
    .recent-cases {
        background-image: url(/wp-content/uploads/2024/09/homepage-banner.jpg.webp);
    }
    .our-team {
        background-image: url(/wp-content/uploads/2024/09/homepage-our-attorneys.jpg);
    }
    .recent-cases#second {
        background-image: url(/wp-content/uploads/2019/07/homepage-practice-area-background-img.jpg.webp);
    }
    .contact .column-first {
        background-image: url(/wp-content/uploads/2019/07/bg-bacteria.jpg.webp);
    }
}

.no-webp {
    .recent-cases {
        background-image: url(/wp-content/uploads/2024/09/homepage-banner.jpg);
    }
    .our-team {
        background-image: url(/wp-content/uploads/2024/09/homepage-our-attorneys.jpg);
    }
    .recent-cases#second {
        background-image: url(/wp-content/uploads/2019/07/homepage-practice-area-background-img.jpg);
    }
    .contact .column-first {
        background-image: url(/wp-content/uploads/2019/07/bg-bacteria.jpg);
    }
}

#front-page {

  h3.emerald.italic {
    margin-bottom:30px;
  }
  overflow:hidden;
    margin-top: 75px;
    /*@media screen and (max-width:1024px) {
      margin-top: 90px;
    }*/
    .hero-headline {
        font-family:$serif;
        font-size:50px;
        color:$blue;
        line-height:110%;
        margin-bottom: 30px;
        @media screen and (max-width:$screen-xxs) {
          font-size: 38px;
        }
    }
    .cta-contact {
      display: flex;
      flex-wrap: wrap;
      .cta-phone,
      .cta-email {
        flex-basis: 48%;
        .hero-cta {
          font-size:22px;
          font-family:$sans;
          color:$emerald;
          font-weight:700;
          .header-sms-link {
            display: block;
            width: 100%;
            font-size: 15px;
            font-style: italic;
            text-decoration: underline !important;
            line-height: 200% !important;
        }
          a {
              color:$blue;
              font-weight:normal;
              text-decoration: none;
              font-family: inherit;
          }
        }
        @media screen and (max-width:$screen-xxs) {
          flex-basis:100%;
          margin:10px 0;
        }
      }
      p.highlight {
        margin: 0;
      }
    }

    section:first-of-type {
        .columns-main {
          .column-half:first-of-type {
            @media screen and (max-width:1024px) {
              flex-basis:100%;
              text-align:center;
            }
            @media screen and (max-width:$screen-sm) {
              flex-basis:100%;
              text-align:left;
            }
          }
            .column-half:last-of-type {
             align-items:center;
             justify-content:center;
             display:flex;
             @media screen and (max-width:1024px) {
              flex-basis: 100%;
              margin-top: 50px;
            }
          }
        }
    }

//* styles for animated circles *//
#circle
{
  width: 130px;
  height: 130px;
  position: relative;
  display:flex;
  float:left;
  margin:0 20px;
  @media screen and (max-width:$screen-lg) {
    width:120px;
    height:120px;
    margin:0 7px;
  }
  @media screen and (max-width:$screen-xxs) {
    width: 80px;
    height: 80px;
  }
  &.one {
    .right .fill {  
    z-index: 3;
    -webkit-animation: right .25s linear ;
    animation: right .25s linear both ;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    }
    .left .fill {
    z-index: 1;
    -webkit-animation: left .25s linear ;
    animation: left .25s linear both;  
    }
    @media screen and (max-width:$screen-xxs) {
      margin: 0 15px 0 0;
    }
}
  &.two {
    .left .fill {
    z-index: 1;
    -webkit-animation: left .25s linear ;
    animation: left .25s linear both;  
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    }
    .right .fill {  
    z-index: 3;
    -webkit-animation: right .25s linear ;
    animation: right .25s linear both ;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
    }
    @media screen and (max-width:$screen-xxs) {
      margin: 0 15px;
    }
  }
  &.three {
    .left .fill {
    z-index: 1;
    -webkit-animation: left .25s linear ;
    animation: left .25s linear both;  
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
    }
    .right .fill {  
    z-index: 3;
    -webkit-animation: right .25s linear ;
    animation: right .25s linear both ;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    }
    @media screen and (max-width:$screen-xxs) {
      margin: 0 0 0 15px;
    }
  }
}
.circle-text {
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:5;
  width:130px;
  height:130px;
  font-family:$sans;
  color:$blue;
  font-weight:700;
  font-size: 16px;
  @media screen and (max-width:$screen-lg) {
    width:120px;
    height:120px;
  }
  @media screen and (max-width:$screen-xxs) {
    font-size: 13px;
    width: 80px !important;
    height: 80px !important;
  }
}

.outer-shadow, .inner-shadow
{
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.inner-shadow 
{
  top: 50%;
  left: 50%;
  width: 128px;
  height: 128px;
  margin-left: -64px;
  margin-top: -64px;
  border-radius: 100%;
  background-color: $lightgray;
  @media screen and (max-width:$screen-lg) {
    width: 118px;
    height: 118px;
    margin-left: -59px;
    margin-top: -59px;
  }
  @media screen and (max-width:$screen-xxs) {
    width: 78px;
    height: 78px;
    margin-left: -39px;
    margin-top: -39px;
  }
}
.hold 
{
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0px, 130px, 130px, 65px);
  border-radius: 100%;
  background-color: $lightgray;
  @media screen and (max-width:$screen-lg) {
    clip: rect(0px, 120px, 120px, 60px);
  }
  @media screen and (max-width:$screen-xxs) {
    clip: rect(0px, 80px, 80px, 40px);
  }
}
.fill, .dot span 
{
  background-color: $blue;
}

.fill 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 65px, 130px, 0px);
}

@keyframes left 
{
    0%{-webkit-transform:rotate(0deg); opacity:0;}
    100%{transform:rotate(180deg); opacity:1;}
}

@-webkit-keyframes left 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(180deg);}
}

.right 
{
  z-index: 3;
  transform: rotate(180deg);
}

@keyframes right 
{
    0%{-webkit-transform:rotate(0deg); opacity:0;}
    100%{transform:rotate(180deg); opacity:1;}
}

@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.plus {
  display:flex;
  justify-content:center;
  align-items:center;
  height:130px;
  width:30px;
  float:left;
  position:relative;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
  font-size:36px;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
   animation: 1s ease 0s normal forwards 1 fadein;
   color:$emerald;
   @media screen and (max-width:$screen-xxs) {
     height: 80px;
     width: 0px;
     font-size: 26px;
  }
}
.equals {
  display:flex;
  justify-content:center;
  align-items:center;
  height:130px;
  width:30px;
  float:left;
  position:relative;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
  font-size:26px;
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
   animation: 2s ease 0s normal forwards 1 fadein;
   color:$emerald;
   @media screen and (max-width:$screen-xxs) {
     height: 80px;
     width: 0px;
     font-size: 18px;
     .icon-arrow-right2 {
      margin-left: -9px;
    }
  }
}

@keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

section.hp_awards_block {
    .columns-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .column-third {
            img {
                max-width: 250px;
            }
        }
    }
}

//* styles for individual sections *//
section.our-team {
    background-image:url(/wp-content/uploads/2024/09/homepage-our-attorneys.jpg);
    background-size:cover;
    background-position:center center;
    min-height:600px;
    display:flex;
    align-items:center;
    align-items: flex-end;
    @media screen and (max-width:$screen-xs) {
      min-height:0;
      background:none;
      padding:0;
  }
}

//* bio content swap *//
.attorney-content {
    section {
        .container {
            width:100%;
        }
        @media screen and (max-width:$screen-sm) {
          &.our-team {
            .container {
              text-align:center;
            }
        }
      } 
      @media screen and (max-width:$screen-xs) {
        &:nth-of-type(2) {
          padding-top: 0;
      }
      }
    }
  .bio-buttons {
    margin: 0px;
    padding: 0px;
    list-style: none;
    div {
      background: $lightgray;
      color: $blue;
      display: inline-block;
      padding: 0;
      cursor: pointer;
      min-width: 200px;
      text-align: center;
      transition: 0.2s ease all;
      margin-right: 15px;
      @media screen and (max-width:$screen-sm) {
        min-width:130px;
    }
      &:hover {
        background: $emerald !important;
        transition: 0.2s ease all;
        color:$white;
        .photo-box {
          transition:.2s ease all;
          &#ryan-osterholm {
            background-image: url(/wp-content/uploads/2024/09/ryan-thumb.jpg);
          }
          &#brendan-flaherty {
            background-image: url(/wp-content/uploads/2024/09/brendan-thumb.jpg);
          }
          &#bart-torvik {
            background-image: url(/wp-content/uploads/2024/09/bart-thumb.jpg);
          }
          &#elanor-gray {
            background-image: url(/wp-content/uploads/2024/09/elanor-thumb.jpg);
          }
        }
      }
      &.current {
        background: $emerald;
        color: $white;
        transition: 0.2s ease all;
        position:relative;
        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 15px 0 15px;
          border-color: $emerald transparent transparent transparent;
          position:absolute;
          content:"";
          bottom: -15px;
          left: 41%;
          @media screen and (max-width:$screen-xs) {
            display: block;
            left: 38%;
          }
        }
        .photo-box {
          transition:.2s ease all;
          &#ryan-osterholm {
            background-image: url(/wp-content/uploads/2024/09/ryan-thumb.jpg);
          }
          &#brendan-flaherty {
            background-image: url(/wp-content/uploads/2024/09/brendan-thumb.jpg);
          }
          &#bart-torvik {
            background-image: url(/wp-content/uploads/2024/09/bart-thumb.jpg);
          }
          &#elanor-gray {
            background-image: url(/wp-content/uploads/2024/09/elanor-thumb.jpg);
          }
        }
        @media screen and (max-width:$screen-sm) {
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 7px;
            background: $emerald;
            left: 0;
            display: block;
          }
        @media screen and (max-width:$screen-xs) {
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 7px;
            background: #15A387;
            left: 0;
            display: block;
            }
          }
        }
      }
      &:last-of-type {
        @media screen and (max-width:$screen-sm) {
          margin-right: 0;
      }
      }
      @media screen and (max-width:$screen-xs) {
        margin: 0 auto 30px;
        min-width: 31%;
    }
    }
    .photo-box {
      height: 230px;
      display: block;
      background-size: cover;
      background-position: center center;
      transition:.2s ease all;
      &#ryan-osterholm {
        background-image: url(/wp-content/uploads/2024/09/ryan-thumb-off.jpg);
      }
      &#brendan-flaherty {
        background-image: url(/wp-content/uploads/2024/09/brendan-thumb-off.jpg);
      }
      &#bart-torvik {
        background-image: url(/wp-content/uploads/2024/09/bart-thumb-off.jpg);
      }
      &#elanor-gray {
        background-image: url(/wp-content/uploads/2024/09/elanor-thumb-off.jpg);
      }
      @media screen and (max-width:$screen-xs) {
        height:130px;
    }
    }
    .name-box {
      padding: 10px 0;
      display: block;
      font-family: $serif;
      font-size: 16px;
      @media screen and (max-width:$screen-sm) {
        display:none;
      }
    }
    @media screen and (max-width:$screen-xs) {
        display: flex;
        flex-wrap: wrap;
        div {
          margin: 0 auto 30px;
          min-width: 46%;
      }
      .photo-box {
        height:170px;
      }
    }
  }
  .bio-content {
    display: none;
    transition: 0.2s ease all;
    position: relative;
    &.current {
      display: inherit;
      transition: 0.2s ease all;
    }
    .column-half:nth-of-type(2) {
      margin-bottom: 0;
      img {
        margin:0 auto;
      }
    }
    &:before {
      content: "\e906";
      position: absolute;
      left: -130px;
      font-family: icomoon;
      font-size: 100px;
      color: $lightgray;
      top: 140px;
      opacity: .6;
    }
    p.highlight { 
      a {
      font-family: inherit;
      font-weight: inherit;
      text-decoration: none;
      text-transform: none;
      color: $blue;
      }
    }
  }
}

/* styles for counter animation */

.circle {
  background-image: url(/wp-content/uploads/2019/07/bacteria.jpg);
  display: block;
  height: 300px;
  width: 300px;
  background-size: cover;
  border-radius: 50%;
  border: 10px solid transparent;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  margin: 10px auto 0;
  @media screen and (max-width:1024px) {
    height:225px;
    width:225px;
  }
  &:before {
    content: "";
    border: 1px solid green;
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
    top: -10px;
    left: -10px;
    box-sizing: border-box;
    @media screen and (max-width:1024px) {
      height:225px;
      width:225px;
    }
  }
  .inner-content {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $white;
    flex-direction: column;
    font-family: $sans;
    font-size: 26px;
    line-height: 150%;
    .counter-value {
      display: flex;
      flex-direction: row;
      font-family: $serif;
      font-size: 140px;
      font-weight: bold;
      line-height: 80%;
      @media screen and (max-width:1024px) {
        font-size:120px
      }
    }
  }
}

/* additional mobile styles for practice area panel */
#practiceareas {
  @media screen and (max-width:$screen-sm) {
    .column-third {
      display:none;
    }
  }
}

/* styles for footer contact, etc */
section.contact {
  padding:0;
  .column-first {
    flex-basis:55%;
    background-image:url(/wp-content/uploads/2019/07/bg-bacteria.jpg);
    background-size:cover;
    background-position:center center;
    padding: 0;
    display:flex;
    @media screen and (max-width:1024px) {
      flex-basis:100%;
    }
    .column-inner {
      flex-basis:100%;
      padding:100px 8% 50px;
      align-items:center;
      justify-content: center;
      @media screen and (max-width:1024px) {
        padding: 50px 8% 50px;
      }
      ul {
        text-transform:uppercase;
        list-style-type:none;
        margin-left:0;
        li {
          margin-left:40px;
          position:relative;
          &:before {
            content: "\ea10";
            font-family:icomoon;
            position:absolute;
            margin-left:-40px;
            color:$emerald;
          }
        }
      }
    }
  }
  .column-second {
    flex-basis: 45%;
    background-color:$blue;
    padding: 0;
    display:flex;
    @media screen and (max-width:1024px) {
      flex-basis:100%;
    }
    .column-inner {
      flex-basis:100%;
      padding:100px 10% 50px;
      align-items:center;
      justify-content: center;
      @media screen and (max-width:1024px) {
        padding: 50px 8% 50px;
      }
      h2 {
        color:$white;
      }
      a {
        color:$white;
        text-decoration: none;
        font-family: $sans;
        &:hover {
          color:$emerald;
        }
      }
    }
    .columns-main {
      margin-top:30px;
      .column-half {
        font-size: 22px;
        font-family:$sans;
        color:$white;
        &:first-of-type {
          flex-basis: 35%;
        }
        &:last-of-type {
          flex-basis: 60%;
        }
        @media screen and (max-width:$screen-xl) {
          flex-basis: 100% !important;
          padding: 5px 0;
        }
        a {
          color:$white;
          text-decoration: none;
          &:hover {
            color:$emerald;
          }
        }
        @media screen and (max-width:$screen-xxs) {
          margin-top:0;
        }
      }
    }
  }
}
}